*{
  margin: 0;
  padding: 0;
}
.App{
  background-color: #faf6f6;

}
.app__header{
  position:sticky;
  top:0;
  background-color: #fff;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__headerImage{
  height: 8vh;
  object-fit: contain;
  margin-left: 25px;
}
.app__signup{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.app__posts{
  padding: 20px;
}
.app__buttons{
  display: flex;
  align-items: center;
}
.uploadLogo{
  height: 9vh;
  width: 60px;
  object-fit: contain;
}